<%- include("partials/header") %>

<div class = "container">
    <h1>Results Page</h1>

    <% data.Search.forEach(function(movie){ %>
        <li>
            <%= movie.Title%>
        </li>
        <li>
            Year <%= movie.Year %>
            <img src= <%=movie.Poster%> >
        </li>
<% }); %>

<a href = "/" class ="btn btn-success">Search Again!</a>

<%- include("partials/footer") %>